@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* 確保地圖容器正確顯示 */
.mapboxgl-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas-container,
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
